<!DOCTYPE html>
<html lang="fa">

<head>
  <meta charset="UTF-8" />
  <title>ูุฑูุดฺฏุงู ููุงู</title>
  <link rel="stylesheet" href="/stylesheet/product-landing-page.css">
</head>

<body>
  <header>
    <h1>ูุฑูุดฺฏุงู ููุงู</h1>
    <nav>
      <a href="#">ูุฏุฑุช</a>
      <a href="#">๐ ุณุจุฏ ุฎุฑุฏ</a>
    </nav>
  </header>

  <main class="container">
    <div id="product-container"></div>
  </main>

  <script src="/javascript/product-landing-page.js"></script>
</body>

</html>